<div class="container-fluid container-bg">
    <div class="row justify-content-center">
        <h1 style="text-align: center;">Registered users</h1>
        <div class="col-md-2">
            <table matSort (matSortChange)="sortData($event)" class="table">
                <tbody>
                    <tr *ngFor="let user of userService.registeredUsers">
                        <td font-size="20" text-align = "center">{{user.username}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>