<div class="container-fluid container-bg">
    <div class="row justify-content-center margin-class">
        <h2 style="text-align: center;">Signed in users</h2>
        <div class="col-md-2">
            <table matSort (matSortChange)="sortData($event)" class="table">
                <thead>
                    <tr>
                        <th mat-sort-header="username">Username</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of userService.loggedInUsers">
                        <td font-size="20" text-align = "center">{{user.username}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>