.container-bg {
    background-color: rgb(91, 120, 160);
    width:100%;
    min-height: 100%;
    max-width: 100%;
    min-height: 100vh;
  }

  h1 {
    color: white;
    font-weight: bold;
  }
  
  .form-label {
    color: white;
  }
